.project_card{
    padding: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 24%;
    margin: 0.5%;   
}
.project_card h4{
    background-color: #222;
    color: #ffBB33;
    padding: .4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}
.project_card p{
    color: #7a7a7a;
    margin-bottom: 1em;
}
.project_card p span {
    font-weight: bold;
}
.category_text{
    display: flex;
    align-items: center;
}
.category_text span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 0.5px;
    background-color: #ccc;
}
.category_text .infra {
    background-color: #ffaebc;
}
.category_text .desenvolvimento {
    background-color: #A0E7E5;
}
.category_text .design {
    background-color: #B4F8C8;
}
.category_text .planejamento {
    background-color: #FBE7C6;
}
.category_text .qualidade {
    background-color: #bdaeff;
}
.project_card_actions {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}
.project_card_actions button,
.project_card_actions a {
    text-decoration: none;
    background-color: #fff;
    color: #222;
    font-size: .9em;
    padding: .5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1em;
    display: flex;
    border: 1px solid #222;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.project_card_actions svg {
    margin-right: .5em;
}
.project_card_actions button:hover,
.project_card_actions a:hover {
    background-color: #222;
    color: #ffbb33;
}
/* Adicionando responsividade */
@media screen and (max-width: 768px) {
    .project_card {
        flex-basis: calc(50% - 1em); /* Exibe 2 cartões por linha */
    }
}

@media screen and (max-width: 480px) {
    .project_card {
        flex-basis: 100%; /* Exibe 1 cartão por linha */
    }
}